<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>

<body>
	<h1>Welcome to index</h1>
	<a href="<%= routes.newMessage %>">Add your message</a>
	<% messages.forEach((message)=> { %>
		<form method="post" action="/details">
			<ul>
				<li>
					<%= message.text %>
				</li>
				<li>
					<%= message.user %>
				</li>
				<li>
					<%= message.added %>
				</li>
				<li>
					<a name="data" href="<%= routes.messageDetails %>">Details</a>
				</li>
			</ul>
		</form>
		<% }); %>
</body>

</html>
