* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
}

.canvas {
	display: flex;
	order: 2;
	height: 200px;
	width: 200px;
}

.col {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.box {
	flex: 1 1 auto;
	border: 1px solid #000;
}

.button {
	order: 1;
}
