:root {
	--main-color: orange;
	--button-color: azure;
}

body {
	background-color: var(--main-color);
}

nav {
	& a {
		border: 1px solid #000;
		background-color: var(--button-color);
		font-size: 1.3rem;

		&:hover {
			background-color: yellow;
		}
	}
}

#title {
	font-size: 3rem;
}
