# Express app variables
APP_PORT=

# Postgres native variables
POSTGRES_USER=
POSTGRES_PASSWORD=
# This is the Postgres role
POSTGRES_DB=

# Additional variables for Postgres
#
# Use db for Docker, localhost for local
POSTGRES_HOST=
# Choose an arbitrary Postgres port for convenience!
POSTGRES_PORT=
