* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-col: #f0a771;
	--main-txt: #330;
	--sec-txt: #110;
	--light-bor: #E5E7EB;
}

/* Sorry, didn't try media queries yet, so I'll wrap instead */
.containers-container {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
}

.art-container {
	width: 30%;
	flex: 1 1 auto;

	background: url(../assets/img/birmingham-museums-trust-chiFm1wGst8-unsplash.jpg);
}

.form-container {
	width: 70%;
	flex: 2.3 1 400px;
}
