<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="/preflight.css" rel="stylesheet">
	<link href="/global.css" rel="stylesheet">
</head>

<body>

	<%- include('./partials/nav.html') %>

		<% if (user) { %>
			<p>Logged In as <%= user.member_firstname %>
			</p>
			<% } %>

				<h1 id="title">Welcome to my message app!</h1>

				<% if (messages) { %>
					<% messages.forEach((message)=> { %>
						<p>
							<%= message.member_firstname %>
								<%= message.member_lastname %>
						</p>
						<p>
							<%= message.message_date.toLocaleDateString() %>
						</p>
						<% }); %>
							<% } %>

</body>

</html>
