<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="/preflight.css" rel="stylesheet">
	<link href="/global.css" rel="stylesheet">
</head>

<body>

	<%- include('./partials/nav.html') %>

		<h1 id="title">Sign Up</h1>

		<form action="/session/signup" method="POST">
			<label for="email">E-mail:</label>
			<input type="email" name="email" placeholder="email" id="email" required>
			<label for="firstname">First Name:</label>
			<input type="text" name="firstname" id="firstname" placeholder="firstname" required>
			<label for="lastname">Last Name:</label>
			<input type="text" name="lastname" id="lastname" placeholder="lastname" required>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" placeholder="password" required>
			<button>Sign Up</button>
		</form>

</body>

</html>
