<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= title %>
	</title>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<h1>
		<%= title %>
			<form action="/create" method="POST">
				<label for="firstName">First Name:</label>
				<input type="text" name="firstName" id="firstName" required>
				<label for="lastName">Last Name:</label>
				<input type="text" name="lastName" id="lastName" required>
				<button>Submit</button>
			</form>
	</h1>
	<a href="/">Back to home</a>

</body>

</html>
