<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= title %>
	</title>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<h1>
		<%= title %>
	</h1>

	<ul>
		<% if (locals.users.length> 0) { %>
			<% users.forEach(user=> { %>
				<li>
					ID: <%= user.id %>, Name: <%= user.firstName %>
							<%= user.lastName %>
				</li>
				<% }); %>
					<% } else { %>
						<p>No users available</p>
						<% } %>
	</ul>
	<a href="/create">Create a user</a>

</body>

</html>
