body {
	margin: 0;
	padding: 0;
	font-family: roboto;
}

.master-container {
	background-color: #1f2937;

	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header-container {
	display: flex;
	justify-content: space-around;
}

.header-logo {
	color: #f9faf8;
	font-size: 24px;

	display: flex;
}

.header-links {
	display: flex;
	gap: 48px;
}

.header-link,
.hero-secondary-text {
	color: #e5e7eb;
	font-size: 18px;
}

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.hero-main-text {
	font-size: 48px;
	font-weight: bold;
	color: #f9faf8;
}

.hero-button {
	color: #fff;
	font-weight: bold;
	background-color: #3882f6;
	border-radius: 6px;
	padding: 8px;
}

.hero-image {
	text-align: center;
	background: grey;
}
