* {
	box-sizing: border-box;
	font-family: roboto;
}

body {
	margin: 0px;
	padding: 0px;
}

.hero {
	display: flex;
	flex-direction: column;
	background-color: #1f2937;
	padding: 0px 10%;
}

.logo {
	color: #f9faf8;
	font-size: 24px;
	font-weight: bolder;
}

.header {
	display: flex;
	justify-content: space-between;
}

.welcome {
	display: flex;
	margin: 8% 0;
	gap: 5%;
}

.main-contents {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
}

.image-container {
	display: flex;
	background-color: #e5e7eb;
	flex: 1 1 0;
	justify-content: center;
	align-items: center;
	color: white;
}

.hero-main-text {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
	width: 50%;
}

.hero-subtext,
.links a {
	font-size: 18px;
	color: #e5e7eb;
	text-decoration: none;
}

.links {
	display: flex;
	gap: 18px;
}

.sign-up {
	background-color: #3882f6;
	border-radius: 4px;
	max-width: 7em;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	margin: 9px 0;
}

.information {
	display: flex;
	flex-direction: column;
}

.info-title {
	display: flex;
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
	justify-content: center;
	padding: 36px;
}

.info-items {
	display: flex;
	margin: auto 20%;
	gap: 56px;
}

.info {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 8px;
}

.square {
	border: 2px solid #3882f6;
	border-radius: 18px;
	padding: 50%;
}
