<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="../css/output.css" rel="stylesheet">
</head>

<body>
	<h1 class="text-8xl">CLASSES</h1>
	<% allClasses.forEach((c)=> { %>
		<h2 class="text-4xl">
			Class <%= c.class_name %>
				<button>+</button>
		</h2>
		<% c.students.forEach((s)=> { %>
			<div>
				<%= s %>
					<button>-</button>
			</div>
			<% }); %>
				<% }); %>
</body>

</html>
