# Express App Port
PORT=
# Admin Password
ADMIN_PASSWORD=
# Postgres Info
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
# To sign session ID cookie (best to be a random set of characters and periodically updated)
SESSION_SECRET=
